<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN"
        "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!-- Console Appender -->
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %d{yyyy-MM-dd HH:mm:ss} [%t] %c{1} - %m%n" />
        </layout>
    </appender>

    <!-- File Appender -->
    <appender name="fileAppender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="logs/spring-app.log" />
        <param name="DatePattern" value="'.'yyyy-MM-dd" />
        <param name="Append" value="true" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %d{yyyy-MM-dd HH:mm:ss} [%t] %c{1} - %m%n" />
        </layout>
    </appender>

    <!-- SQL Log Appender -->
    <appender name="sqlAppender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="logs/sql.log" />
        <param name="DatePattern" value="'.'yyyy-MM-dd" />
        <param name="Append" value="true" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} - %m%n" />
        </layout>
    </appender>

    <!-- Spring Framework Loggers -->
    <logger name="org.springframework">
        <level value="INFO" />
    </logger>

    <logger name="org.springframework.web">
        <level value="INFO" />
    </logger>

    <!-- Spring MVC 핸들러 매핑 로그 숨기기 -->
    <logger name="org.springframework.web.servlet.handler">
        <level value="WARN" />
    </logger>

    <!-- Spring MVC 컨트롤러 매핑 로그 숨기기 -->
    <logger name="org.springframework.web.servlet.mvc.method.annotation">
        <level value="WARN" />
    </logger>

    <!-- WebApplicationContext 새로고침 로그 숨기기 -->
    <logger name="org.springframework.web.context">
        <level value="WARN" />
    </logger>

    <logger name="org.springframework.security">
        <level value="DEBUG" />
    </logger>

    <!-- MyBatis Loggers -->
    <logger name="org.apache.ibatis">
        <level value="DEBUG" />
    </logger>

    <!-- log4jdbc-remix SQL 로그 설정 -->
    <logger name="jdbc.sqlonly" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="sqlAppender" />
        <appender-ref ref="console" />
    </logger>

    <logger name="jdbc.sqltiming" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="sqlAppender" />
        <appender-ref ref="console" />
    </logger>

    <logger name="jdbc.audit">
        <level value="WARN" />
    </logger>

    <logger name="jdbc.resultset">
        <level value="WARN" />
    </logger>

    <logger name="jdbc.resultsettable" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="sqlAppender" />
        <appender-ref ref="console" />
    </logger>

    <logger name="jdbc.connection">
        <level value="WARN" />
    </logger>

    <!-- HikariCP 로그 -->
    <logger name="com.zaxxer.hikari">
        <level value="OFF" />
    </logger>

    <!-- 애플리케이션별 로그 (패키지명에 따라 수정 필요) -->
    <logger name="com.yourpackage" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="fileAppender" />
        <appender-ref ref="console" />
    </logger>

    <!-- 외부 라이브러리 로그 레벨 조정 -->
    <logger name="org.apache.commons">
        <level value="WARN" />
    </logger>

    <logger name="org.webjars">
        <level value="WARN" />
    </logger>

    <!-- Root Logger -->
    <root>
        <priority value="DEBUG" />
        <appender-ref ref="console" />
        <appender-ref ref="fileAppender" />
    </root>

</log4j:configuration>