@charset 'utf-8';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.contents{
    min-width: 600px;
    width: 80%;
    border: 1px solid #f2f2f2;
    height: 95vh;
    padding: 2rem 2rem;
    border-radius: 10px;
    margin: 3vh 0;
}