@charset 'utf-8';

.book-list{
    height: 350px;
    margin-top: 1vh;
}

.item-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,50px);
    align-content: start;
    height: 100%;
    background-color: #f9f8f8;
    border-radius: 10px;
    padding: 2rem 2rem;
}