@charset 'UTF-8';

.nav{
    display: flex;
    height: 70px;
    align-items: center;
    background-color: black;
    color: white;

}
ul{
    display: flex;
    list-style-type: none;
    gap: 10px;
}
a{
    font-size: 1.3rem;
    text-decoration: none;
    color: white;
}
.active{
    color: #76ea33;
}
