@charset 'UTF-8';

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;

}

.contents{
    width: 700px;
    height: 200px;
    border: 1px solid black;
    display: flex;
    box-sizing: border-box;
    padding: 2rem 1rem;
    gap: 5px;
}

.tx-start{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.btn-box{
    text-align: center;
    margin-top: 20px;
}

.btn{
    width: 90px;
    height: 36px;
    margin: 0 5px;
}

.score-box{
    margin-top: 20px;
    border: 1px solid black;
    width: 700px;
    height: 200px;
    font-size: 1.5rem;
    padding: 2rem 1rem;
    box-sizing: border-box;
    text-align: center;
}