<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>

    <!-- ✅ Tailwind CSS CDN (개발용) -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- ✅ Thymeleaf 설정 포함 -->
    <th:block th:replace="~{fragments/config::config}"></th:block>
    <style>
        body {
            background-color: #5c0914;
        }
    </style>
</head>
<body class="flex flex-col items-center justify-center min-h-screen">
    <!-- <div class="flex flex-col items-center mb-4">
    <img src="/imgs/logo.png" alt="Logo" class="h-20"/>
    <span class="text-2xl text-white mb-16">Apeach</span>
    </div> -->
    <main class="w-full max-w-sm bg-white rounded-lg shadow-lg p-6">
        <div class="text-center m-6">
            <h2 class="text-2xl font-bold text-gray-800">로그인</h2>
        </div>

        <form action="/login/proc" method="post" autocomplete="off" id="loginFrm" class="mt-6 mb-6"  onsubmit="return goLogin(e)">
            <div>
                <label for="username" class="block text-sm font-medium text-gray-700">아이디</label>
                <input type="text" id="username" name="username"
                       class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm 
                              focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
                       >
            </div>

            <div class="mt-6">
                <label for="password" class="block text-sm font-medium text-gray-700">비밀번호</label>
                <input type="password" id="password" name="password"
                       class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm 
                              focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
                       >
            </div>

            <div class="flex justify-center items-center m-6">
                <button type="submit" class="border border-gray-300 text-gray-700 px-4 py-2 rounded-md hover:bg-gray-300 mr-2"
                        >로그인</button>
                <button type="button" class="border border-gray-300 bg-gray-200  text-gray-700 px-4 py-2 rounded-md hover:bg-gray-300">
                    회원가입
                </button>
            </div>
        </form>
    </main>

    <script>
        

        //입력 검증 함수
        function validated() {
            const userName = document.querySelector('#username');
            const password = document.querySelector('#password');

            if (userName.value.trim().length === 0) {
                alert('아이디를 입력하십시오.');
                userName.focus();
                return false;
            }

            if (password.value.trim().length === 0) {
                alert('비밀번호를 입력하십시오.');
                password.focus();
                return false;
            }

            return true;
        }

        //로그인 폼 제출
        function goLogin(e) {
            //새로고침 방지
            e.preventDefault();

            if (!validated()) {
                return false;
            }

            document.getElementById('loginFrm').submit();
        }


    </script>
</body>
</html>
