@charset 'utf-8';

.detail{
    display: flex;
    justify-content: center;
}

.dtail-frm{
    width: 600px;
    height: 500px;
    /* border: 1px solid black; */
    padding: 1rem 1rem;
}
.detail-contents textarea{
    resize: none;
    height: 250px;
}