@charset 'UTF-8';

.nav{
    background-color: #222;
    padding: 2rem;
    
    
}

.nav-list{
    list-style-type:none ;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0 1rem;
    align-items: center;
    width: 15rem;
    /* background-color: aqua; */
}
.nav-list li{
    width: 100%;
    position: relative;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
}

.nav-list a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    border-radius: 5px;
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    /* background-color: aqua; */

   
}
.nav-list a:hover{
    width: 100%;
    height: 100%;
     background-color: #444;

}

.active{
    width: 100%;
    background-color: #444;
    color: white;
}

.nav-submenu{
    display: none;
    list-style-type: none;
    position: absolute;
    left: 0;
    top: 2.1rem;
    background-color: #333;
    border-radius: 5px;
    min-width: 140px;
    text-align: center;
    box-shadow: 0 2px 8px #f2f2f2;
    padding: 0.5rem 0;
    z-index: 99999;
}

.nav-board span{
    color: white;
    cursor: pointer;
    padding: 0.5rem 0.5rem;
    border-radius: 5px;

}

.nav-board:hover .nav-submenu,
.nav-board:focus-within .nav-submenu{
    display: block;
}