@charset 'utf-8';



.pagination li{
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 2px;
    background-color: white;
    border-radius: 20%;
    border: 1px solid #9c9c9c;
    line-height: 35px;
    text-align: center;
}
.pagination a{
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    color: black;
}
.pagination li.active{
    background-color: #514ef3;
}
.pagination li.active a{
    color: white;
    background-color: #514ef3;
    font-weight: bold;
    text-decoration: none;
}