@charset "UTF-8";

/*메인타이틀 영역*/
.detail-title-bg{
    height: 150px;
    border-bottom: 1px solid rgb(214, 214, 214);
}
.title-wrap{
    position: relative;
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}
.title-label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    font-size: 30px;
    font-weight: 600;
}
/*컨텐츠 영역*/
.content-bg{
    width: 60%;
    min-width: 800px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}


/*이미지 영역*/
.left-body{
    width: 50%;
}

.detail-img-wrap{
    height: 600px;
}
.detail-img-wrap img{
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
    object-fit: contain;
    

}

/*텍스트 영역*/
.right-body{
    display: flex;
    justify-content: center;
    width: 50%;
}
.right-bg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 100%;
}
.detail-text-wrap{
    display: flex;
    flex-direction: column;
}
.detail-text-wrap span{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #e6e6e6;
}
.detail-sTitle{
  font-size: 18px;
  font-weight:600;
}
.detail-pub{
  
}
.detail-price{
  font-size: 24px;
  font-weight: 600;
  
}
.count-bg{
    
}