@charset "UTF-8";

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh;
    margin-top: 30px;
}

.contents{
    width: 900px;
    /* height: 500px; */
    margin-bottom: 20px;
}
