@charset 'utf-8';

*{
    margin: 0;
    padding: 0;
    
}

.container{
    display: flex;
  flex-direction: column; /* 세로 방향으로 배치 */
  justify-content: center; /* 세로 가운데 */
  align-items: center; /* 가로 가운데 */
  height: 100vh; /* 전체 화면 높이 */
  width: 100%;
}
button{
    width: 5rem;
    height: 2.5rem;
    margin: 0 0.5rem;
    background-color: white;
    border: 0.5px solid gray;
    border-radius: 5px;
}
button:hover{
    background-color: rgb(230, 230, 230);
}