<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	
	<typeAliases>
	    <typeAlias type="java.util.Map"  alias="map"/>
		<typeAlias type="kr.exam.springs.board.vo.Board$Request" alias="boardReq"/>
		<typeAlias type="kr.exam.springs.board.vo.Board$Response" alias="boardResp"/>
		<typeAlias type="kr.exam.springs.board.vo.Board$BoardFiles" alias="boardFiles"/>
		<typeAlias type="kr.exam.springs.board.vo.Board$Detail" alias="boardDetail"/>
		
		<typeAlias type="kr.exam.springs.user.vo.Users$LoginUser" alias="loginUser"/>
		<typeAlias type="kr.exam.springs.user.vo.Users$UserInfo" alias="users"/>
		
	</typeAliases>
	
</configuration>
