@charset "utf-8";

.lotto-table{
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #aa8383;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    

}