@charset 'UTF-8';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
.pages{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.contents{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

.header{
    width: 100%;
    height: 10vh;
    border-bottom: 2px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    width: 100%;
    height: 10vh;
    border-top: 2px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    padding: 10px;
    margin: 0 15px;

}