*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    display: flex;
    height: 100vh;
    width: 800px;
    flex-direction: column;
    align-items: center;
    padding: 2rem 2rem;
    margin: 20px auto 0;
}